.topo {
    background-color: #18171d;
    color: #fff;  
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.topo div {
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.topo a {

        text-decoration: none;
        color: #fff;
}

.tituloServicos .subTituloServicos {
    font-weight: bold;
}

.tituloServicos {
    margin-top: 20px;
    margin-bottom: 20px;
    border-bottom: 1px solid #18171d;
}

.subTituloServicos {
    margin-bottom: 20px;
}

.servicos {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 50px;
    
}
.servicos div {
    height: 300px;
    border: 1px solid #18171d;
    padding: 30px;

    display: flex;
    justify-content: space-between;
    flex-direction: column;

}

.servicos span {
    font-weight: bold;
}

.servicos div p {
    border-top: 1px solid #ccc;
    height: 100px;
}